/* navbar */
.header{
    height: var(--header-height);
    background-image:linear-gradient(0,#fe6232,#f6402d) ;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);

}


.header__navbar-list{
    padding: 0;
    margin-top: 8px;
}

.header__navbar-item{
    position: relative;
    list-style-type: none;
    display: inline-block;
    margin: 0 8px;
}
.header__navbar-item:hover,
.header__navbar-link--fb:hover,
.header__navbar-link--ins:hover{
    cursor: pointer;
    opacity: 0.8;
}
.header__navbar-item--unhover:hover{
    opacity: 1;
    cursor: auto;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    right: -10px;
    top: -50%;
    border-left: 2px solid #FB9086;
    transform: translateY(10px)
    
}

.header__navbar-item--link{
    text-decoration: none;
}
.header__navbar-item,.header__navbar-item--link{
    font-size: 1.3rem;
    color: var(--white-color);
    
}
.header__navbar-link{
    text-decoration: none;
    color: var(--white-color);
    padding-left: 4px;
}

/* header qr code */
.header__qr{
    display: none;
    width: 185px;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 2px;
    animation: fadeIn ease-in 0.1s;
    top: 150%;
    z-index: 3;
    box-shadow: 0 1px 5px rgba(0, 0 ,0 , 0.3);
}
.header__qr::before{
    content: "";
    width: 100px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: -15px;
}
.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__qr-code{
    width: 100%;
    padding: 6px;
}

.header__qr--link{
    display: flex;
    justify-content: space-between;
}

/* .header__qr--link-item{
    
} */

.header__qr--ggplay{
    height: 17px;
    margin-left: 17px;
}

.header__qr--appstore{
    height: 17px;
    margin-right: 17px;

}
.dsanjd:hover,
.oekrff:hover{
    opacity: 0.8;
    cursor: pointer;
}

.header__notification{
    position: absolute;
    width: 350px;
    right: 0;
    background-color: var(--white-color);
    color: var(--text-color);  
    border: 1px solid #d3d3d3;
   
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    border-radius: 2px;
    top: 150%;
    transform-origin: 90% top;
    animation: headernotifyanimation ease-in 0.3s;
    display: none;
    z-index: 3;
}
.header__notification::before{
    content: "";
    background-color: transparent;
    position: absolute;
    top: -19px;
    right: -4px;
    height: 20px;
    width: 130px;
    cursor: pointer;

}
.header__notification::after{
    content: "";
    border: 20px solid #000;
    position: absolute;
    z-index: 1;
    right: 21px;
    top: -32px;
    cursor: pointer;
    border-color: transparent transparent white transparent;
    /* display: none; */
}

.notify-header{
    height: 40px;
    cursor: auto;
}

.header__navbar-list--notify:hover .header__notification{
    display: block;
}

.notify__header-text{
    color: #888;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    pointer-events: none;
}

.notify__container{
    padding: 0;
}

.notify__item{
    list-style: none;
}
.notify__item:hover{
    background-color: rgb(243, 236, 236);
}

.notify__item--link{
    display: flex;
    padding: 12px 22px 12px 12px;   
    text-decoration: none;
    
}
.notify__item-info{
    padding-left: 6px;
}

.notify__item--img{
    width: 48px;
    object-fit: contain;
}

.notify__item--content{
    font-size: 1.45rem;
    display: inline-block;
    margin: 0 0 6px 0;
    font-weight: 500;
    color: var(--text-color);
    list-style-type: none;

}

.notify__item--description{
    margin: 0;
    color: #7d7979;
    font-size: 1.2rem;
    line-height: 16px;
}
.notify__footer{
    height: 40px;
}

.notify__footer-text{
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    text-align: center;
    
}
.notify__footer-seeall{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 134px;
}

.header__navbar-user--list{
    background-color: var(--white-color);
    position: absolute;
    top: 160%;
    right: 0;
    width: 134px;
    z-index: 2;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);;
    display: none;
    transform-origin: 80% top;
    animation: headernotifyanimation ease-in 0.2s;
    
}

.header__navbar-user--item{
    color: var(--text-color);
    list-style: none;
    padding: 12px;
}
.header__navbar-user--list::before{
    content: "";
    position: absolute;
    width: 113px;
    height: 21px;
    background-color: transparent;
    top: -15px;
    right: -3px;
}
.header__navbar-user--list::after{
    content: "";
    border: 12px solid #000;
    position: absolute;
    right: 25px;
    top: -24px;
    cursor: pointer;
    border-color: transparent transparent white transparent;
}

.header__navbar-user--item:hover{
    cursor: pointer;
    color: #14ac97;
    background-color: #f5f3f3;
}
.header__navbar-user:hover .header__navbar-user--list{
    display: block;

}
/* modal */
.auth__form-container{
    padding: 0 32px;
    width: 400px;
    margin: 0;
    padding-bottom: 20px;
    background-color: var(--white-color);
    border-radius: 2px;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding: 0 12px;
}

.auth__form-heading{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 450;
}
.auth__form-switch--btn{
    align-items: center;
    font-weight: 450;
    font-size: 14px;
    color: var(--primary-color);
    cursor: pointer;
}
.auth__form-form--input{
    height: 40px;
    width: 100%;
    padding: 0 6px;
    margin-top: 16px;
    outline: none;
    border:1px solid var(--border-color);
    font-size: 1.4rem;
    border-radius: 2px;
}
.auth__form-form--input:focus{
    border-color: #888;
}
.auth__form-policy-text{
    margin: 25px 0 100px;
    font-weight: 430;
    font-size: 10px;
    width: 100%;
    padding: 0 6px;
    text-align: center;
    
}
.policy__text{
    text-decoration: none;
    color: var(--primary-color);
}
.auth__form-controls{
    display: flex;
    justify-content: flex-end;
}
.auth__form-controls--back{
    margin-right: 8px;
}

.auth__form-footer{
    background-color: #e2e1e2;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}
.btn--withicon{
    font-size: 12px;
    line-height: 26px;
    min-width: 153px;
}
.btn--withicon-faceook{
    background-color: #304983;
    color: var(--white-color);
    
}
.btn--withicon--google{
    background-color: #ebebeb;

}

.auth__form-policy-text.ssmci{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    
}
.auth__form-forgot--password{
    color: var(--primary-color);
    margin-right: 20px;
    position: relative;
}
.auth__form-forgot--password::after{
    content: "";
    height: 12px;
    width: 1px;
    background-color: rgb(165, 161, 161);
    position: absolute;
    top: 2px;
    right: -10px;
}
.auth__form-forgot--password,
.auth__form-need--help{
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}   
.auth__form-need--help{
    color: rgb(165, 161, 161);
}

/* search */
.header-with-search{
    height: var(--header-search);
    display: flex;
    align-items: center;
}

.header__logo{
    padding-right: 60px;
}
.header__logo-link{
    color: transparent;
    text-decoration: none;

}

.header-logo--icon{
    width: 162px;
    height: 50px;
    
}
.header__searchbar{
    width: 100%;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    border-radius: 2px;
    margin-top: 8px;
}
.header__searchbar-area{
    position: relative;
    flex: 1;
}   
.header__search{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
}

.header__searchbar-select{
    display: flex;
    cursor: pointer;
    position: relative;
}
.ovdow{
    font-size: 1.3rem;
    width: 80px;
    margin: auto;
    font-weight: 400;
    text-align: center;
    position: relative;
}
.ovdow::before{
    content: "";
    height: 26px;
    width: 2px;
    background-color: #d6d0d0;
    position: absolute;
    left: -6px;
    top: -4px;
}



.header__searchbar-select--icon{
    margin: auto;
    text-align: center;
    padding-right: 6px;
}
.select__search-icon{
    width: 63px;
    font-size: 15px;
    /* margin: auto; */
    text-align: center;
    color: var(--white-color);
    background-color: #f36447;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin: 2px 2px 2px 0;

}
.header__cart{
    display: flex;
    width: 200px;
    height: 60px;
    
}
.header__cart-wrap{
    margin: auto;
    position: relative;
    cursor: pointer;
    padding: 3px 5px;
}
.header__cart-wrap::before{
    content: '';
    background-color: transparent;
    width: 62px;
    height: 40px;
    position: absolute;
    top: 75%;
    right: 0;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-icon{
    margin: auto;
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__cart-notice--icon{
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 1px .3125rem;
    width: 25px;
    height: 19px;
    top: -4px;
    right: -7px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.4rem;
    border: 2px solid #ee4d2d;

}
.header__cart-list{
    position: absolute;
    background-color: var(--white-color);
    top: 111%;
    right: -7px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    transform-origin: 90% top;
    animation: headernotifyanimation ease-in 0.2s;
    cursor: auto;
    display: none ;
    z-index: 1;
    height: 43vh;
    

    
}
.header__cart-list::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 16px;
    right: 9px;
    top: -26px;
    border-color: transparent transparent #fff transparent;
    cursor: pointer;
}
.header__cart-no-item{
    padding: 40px 0;
    text-align: center;
    cursor: auto;
}

.header__cart-no-item-block{
    text-align: center;
}
.header__cart-no-item--img{
    width: 40%;
    display: none;

}
.header__cart-no-item--msg{
    font-size: 1.5rem;
    display: block;
    padding-top: 21px;
    color: var(--text-color);
    display: none;
}
.header__cart-no-item .header__cart-no-item--img,
.header__cart-no-item .header__cart-no-item--msg{
    margin: 0 auto;
    display: block;
}

.header__searchbar-descrip{
    display: flex;
    margin: 0;
}
.snadu{
    width: 100%;
}

.header__searchbar-descrip{
    padding: 0;
}

.header__searchbar-descrip--link{
    text-decoration: none;
    color: hsla(0,0%,100%,.9);
    
    
}

.header__searchbar-item{
    margin:4px 12px 0 0;
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 450;
}
.select__search-icon:hover{
    background-color: #fb6445;
}
.header__searchbar-select:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: 82%;
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 2px #e0e0e0;
    width: 112px;
    display: none;
    
    
}
.header__search-option::after{
    content: "";
    background-color: transparent;
    position: absolute;
    top: -12px;
    right: 0;
    width: 114px;
    height: 12px;

}

.header__search-option--item{
    font-size: 1.4rem;
    padding: 8px 8px;
}
.header__search-option--item:hover{
    background-color: #f7f4f4;
    border-radius: 3px;

}

.header__search-option--icon{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 5px;
    
}
.header__searchbar-history{
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    display: none;
    z-index: 1;
}

.history__heading{
    padding-left: 12px;
    font-size: 1.3rem;
    color: #999;
    font-weight: 400;
    margin: 8px 0;
}

.history__list{
    padding: 0;
    margin: 0;
}

.history__item{
    list-style: none;
    padding: 8px 0 8px 12px;
    
}
.history__item:hover{
    background-color: #f0f0f0;
}
.history__item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
    display: block;
}
.header__search:focus ~ .header__searchbar-history{
    display: inline-block;
}

.header__cart-heading{
    margin: 12px 0 12px 12px; 
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__cart-list--item{
    padding-left: 0;
    list-style: none;

}

.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}
.header__cart-item--info{
    width: 100%;
}

.header__cart-item--head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 12px 4px 0;

}

.header__cart-item--name{
    font-size: 1.4rem;
    flex: 1;
    font-weight: 500;
    color: #636060;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.header__cart-price-item{
}

.header__cart-item--price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);

}

.header__cart-item--multiply{
    color: #757575;
}   

.header__cart-item--quantity{
    color: #757575;
    font-size: 1.2rem;

}

.header__cart-item--body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item--description{
    font-size: 1.2rem;
    color: #9a9a9a;
    font-weight: 500;
}

.header__cart-item--remove{
    margin-right: 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}
.header__cart-item--remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-checkout{
    margin: 0 12px 12px 0;
    float: right;
}
.header__cart-checkout:hover{
    background-color: #f05d41;
}

/*APP CONTAiNER */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 30px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px ;
    
}

.category-heading{
    margin-top: 0;
    padding: 14px 16px;
    font-size: 1.8rem;
    color: var(--text-color);
    text-transform: uppercase;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.07); */
}
.category-heading__icon{
    margin-right: 6px;
    font-size: 1.4rem;
    position: relative;
    top: -1px;
}
.category-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.category-item{
    position: relative;

}

.category-item::before{
    content: "";
    border-top: 1px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 24px;
}


.category-item__link{
    position: relative;
    /* padding: 12px 16px; */
    padding: 12px 0 12px 40px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}
.category-item__active .category-item__link{
    color: var(--primary-color);

}
.category-item__active .category-item__link::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 23px;
    border: 6px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(-51%);
}

/* Home filter */

.home-filter{
    background-color: rgba(0,0,0,.03);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}
.home-filter__label{
    font-size: 1.4rem;
    margin-right: 20px;
    color: #555;

}

.home-filter__btn{
    margin-right: 12px;
    min-width: 100px;
    height: 34px;
}

.home-filter__arrange-price{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    height: 34px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
}

.home-filter__arrange-price:hover .arrange-price__list{
    display: block;
    
}

.arrange-price__list{
    position: absolute;
    top: 104%;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    list-style: none;
    height: 94px;
    margin: 0;
    padding: 10px 0 10px 0;
    border-radius: 2px;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 5%);
    animation: fadeIn ease-in 0.2s;
    cursor: pointer;
    display: none;
    z-index: 1;

}
.arrange-price__list::before{
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    height: 3px;
    background-color: transparent;
}
.arrange-price__item{
    font-size: 1.4rem;
    padding: 12px 12px;

}
.arrange-price__item:hover{
    color: var(--primary-color);
}

.arrange-price__label{
    font-size: 1.4rem;
    margin-left: 12px;
    color: rgba(0,0,0,.8);;
}

.arrange-price__icon{
    font-size: 1.4rem;
    margin-right: 12px;
    color: rgba(0,0,0,.8);;
}

.home-filter__page{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.home-filter__page-num{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);

}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    display: flex;
    min-width: 72px;
    height: 36px;
    background-color: var(--white-color);
    margin-left: 20px;
}

.home-filter__page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    border-radius: 2px;
}


.home-filter__page-btn i {
    font-size: 1.4rem;
}

.home-filter__page-btn--disable{
    cursor: default;
    background-color: #f9f9f9;
    color: #ccc;
    border-right: 1px solid rgb(219, 219, 219);
}
/*  */



.home-product-item{
    text-decoration: none;
    display: block;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0 ,0 , 0.1);
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    transition: transform linear 0.1s;
    will-change: transform;
    border-radius: 2px;
}

.home-product-item:hover{
    box-shadow: 0 0.1rem 2rem 0 rgba(0, 0 ,0 , 0.05);
    transform: translateY(-2px);
   
}
.home-product-item__img{
    
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 2px;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px ;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 1.35rem;
    color: #a7a4a4;
    text-decoration: line-through;
    font-weight: 400;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    
}

.home-product-item__action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    font-size: 1rem;
    color: #5f5a5a;
}

.home-product-item__action-vote{
    color: #d5d5d5;
    zoom: 0.8;
    margin: 0 8px 0 auto;
}

.home-product-item__ogirin{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #777;
    margin: 4px 12px;
    padding-bottom: 10px;
}
.home-product-item__action-vote-voted{
    color: var(--star-gold-color);
}

.home-product-item__action-sold{
    font-size: 1.2rem;
    color: #5f5f5f;
}



.home-product-item__favourite{
    position: absolute;
    top: 2%;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    
}
.home-product-item__favourite span {
    color: var(--white-color);
    
}
.home-product-item__favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}
.home-product-item__favourite i{
    color: var(--white-color);
    margin: 0 2px 0 4px;
}

.home-product-item__label{
    margin-right: 4px;
}

.home-product-item__saleoff{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffd339;
    width: 36px;
}

.home-product-item__saleoff-percent{
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    display: block;
    padding-top: 2px;
}

.home-product-item__saleoff-label{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    display: block;
    color: var(--white-color);
}
.home-product-item__saleoff-label::after{
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-top-color: transparent;
    border-right-color: rgba(255, 212, 36, 0.9);
    border-bottom-color: transparent;
    border-left-color: rgba(255, 212, 36, 0.9);
    border-style: solid;
    border-width: 0 18px 4px;
}


.home-product-item__action-fill-icon{
    color: #f63d30;
    display: none;
}   

.home-product-item__action-empty-icon{

}


.home-product-item__action-liked .home-product-item__action-empty-icon{
    display: none;
}

.home-product-item__action-liked .home-product-item__action-fill-icon{
    display: block;
}
.home-product__pagination{
    margin: 56px 0 32px;
}


/* footer */
.footer{
    padding-top: 20px;
    border-top: 5px solid var(--primary-color);
}
.footer-heading{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.footer-list{
    list-style: none;
    padding: 0;
}

.footer-item__link{
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #727272;
    padding: 8px 0;
}
.footer-list i{
    color: #4a4a4a;
    padding-right: 7px;
}
.footer-contact{
    display: flex;

}
.footer-contact-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -1px;
}
.footer-contact_img{
    width: 88px;
}
.footer-contact_app{
    height: 20px;

}
.footer__bottom{
    margin-top: 20px;
    padding: 12px 0;
    background-color: rgb(243, 243, 243);
}
.footer__about-us{
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color);
}